@import url(docutils.css);

body {
    font-family: arial, verdana, helvetica, sans-serif
}

.tree {
    font-size:   13px ;
    color:       #000000 }

.tree :link {
    text-decoration: none    ;
    color:           #000000 }
    
.tree :link:hover {
    text-decoration: underline }
    
.tree :visited {
    text-decoration: none    ;
    color:           #000000 }

.tree :visited:hover {
    text-decoration: underline }

div.document {
    padding: 0px 10px 0px 10px }

div.gallerygroup {
	clear: left;
}

div.gallery {
	margin: 4px;
	padding: 2px;
	border: 1px solid #000000;
	height: 400px;
	width: 320px;
	float: left;
	text-align: center;
}

div.gallery img {
	display: inline;
	margin: 5px;
	border: 1px solid #ffffff;
}

div.gallery a:hover img {
    border:1px solid #0000ff;
}

div.gallerydesc {
	text-align: center;
	font-weight: normal;
	width: auto;
	margin: 5px;
}


/*h1 {
    padding:            2px              ;
    border:             thin solid black ;
    color:              #b83939;
    background:         #ded19d}
*/

h1.title {
    text-align: left    }
    
    /*background: #b83939  } */
    /*
h2 {
    padding:            2px               ;
    border:             thin dotted black ;
    color:              #000000           ;
    background:         #d67171           }
  */  

table.layout {
  margin-top:    0 ;
  margin-bottom: 0 }

table.layout.nightly {
  border-collapse: collapse;
  margin-top:    0 ;
  margin-bottom: 0 }

td.layout, th.layout {
  padding-left:  0 ;
  padding-right: 0 }

td.layout.nightly, th.layout.nightly {
  border: 1px solid #000000;
  padding-left:  0 ;
  padding-right: 0 }

td.layout.padded {
  border: 1px solid #000000;
  padding: 8px }

td.layout.invis {
  background-color: #ffffff;
  border: 0;
  padding: 8px }


















.donate_box {
  border-radius: 4px;
  background: #FDF1CD;
  border: 1px solid #CCCCCC;
  padding: 20px 20px 15px;
  min-height: 420px;
}
.donate_box h3 {
 margin: auto;
}
.donate_box #download_div {
  margin-top: 15px;
}

#currencyfield {
    font-size: 14px;
    height: 30px;
}
.donateButton {
    background: url('images/download-arrow.png') no-repeat 9px 9px;
    background-size: 20px 20px;
    padding-left: 36px;
    padding-right: 10px;
    font-size: 14px;
    height: 40px;
    border: 2px white;
    border-radius: 4px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
}
a>.donateButton{
  margin-top: 40px;
}

.donate_box blockquote {
    line-height: 150%;
}
.donate_box .pay-logo {
    width: 100px;
}

.donate_box .qrcode {
    width: 130px;
}

#main {
 margin: auto;
 padding: 0px 0px 0px 20px;
 width: 600px;
}

#main p {
 color: #444444;
 line-height: 20px;
 margin: 0px 0px 10px;
}

/* donation form */
.tabs{
	list-style: none;
	width: 100%;
	float: left;
	height: 310px;
	padding-left: 0;
	position: relative;
}
.tabs li label[for^=tab]{
	clear: right;
	margin-right: 10px	 !important;
	background-color: transparent;
	border: none;
	border-radius: 4px;
	width: 120px;
	text-align: center;
}
.tabs .tab-content{
	display: none;
	position: absolute;
	overflow: hidden;
	right: 0;
	top: 0;
	width: 68%;
	height: 100%;
	border-left: 1px dotted #ccc;
	padding-left: 20px;
}
.tabs [id^="tab"]:checked ~ [id$="_tab"]{
	display: block;
}
.download_div{
	display:none;
}

textarea, select, input[type=text]{
	box-sizing: border-box;
	box-shadow: inset 0 1px 2px #ddd;
	border: 1px solid #bbb;
	border-radius: 4px;
	padding: 5px;
	width: 100%;
}
input[type=text]{
	height: 31px;
}
input[type=text]:focus{
	border: 1px solid #888;
}
select{
	background-color: #fff;
}

/* donation list */
.two-column {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
	list-style: none;
	padding-left: 15px;
}
.three-column {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
	list-style: none;
	padding-left: 15px;
}
.two-column > li, .three-column > li{
	margin: 0 5px 10px !important;
	float: none;
}

.pay_div{
	width: 100%;
}

.amountlabel {
	margin: 15px 0 20px 0;
	float: left;
	clear: right;
	width: 100%;
}
.amountlabel > input[type="radio"]{
	display:none;
}
.amountlabel > label{
	border-radius: 4px;
	padding: 10px 15px;
	text-align: center;
	margin: 0 7px 1px 3px;
	font-weight: bold;
	width: 65px;
}

/*** donate button colors ***/
/* inactive */
.amountlabel > input + label,
.switch-field input + label,
.donateButton {
    color: white;
}
.amountlabel > label,
.switch-field label {
	background-color: rgba(180,180,180,0.75);
}

/* hover */
.amountlabel > label:hover,
.amountlabel > input[type="radio"]:hover + label:hover,
.switch-field label:hover,
.donateButton:hover {
	background-color: #8fc8d2;
    cursor: pointer;
}

/* active */
.amountlabel > input[type="radio"]:checked + label,
.amountlabel > label > input[type="number"]:focus + label,
.switch-field input:checked + label,
.donateButton {
	background-color: #179bd7;
}



input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
}

input[type=number] {
      -moz-appearance:textfield;
}

.amountlabel > label > input[type="number"]{
      background-color: transparent;
      color: white;
      border: none;
      border-bottom: 1px solid;
      border-radius: 0px;
      box-shadow: none;
      height: 20px;
      font-family: arial, helvetica, sans-serif;      
      text-align: center;
      width: 35px;
      font-weight: normal;
}

#freeamountLabel{
     padding: 0;
}

.switch-field {
  padding: 15px 0 15px 0;
  margin: 5px 0 5px 0;
  overflow: hidden;
  width: 50%;
  display: inline;
}

#donation_frq{
  clear: right;
}

.switch-title {
  margin-bottom: 6px;
}

.switch-field input {
  display: none;
}

.switch-field label {
  float: left;
}

.switch-field label {
  display: inline-block;
  width: 40px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  text-shadow: none;
  padding: 3px 14px;
  border: none;
}

.switch-field input:checked + label {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.switch-field label:first-of-type {
  border-radius: 4px 0 0 4px;
  margin: 0 0 0 3px;
}

.switch-field label:last-of-type {
  border-radius: 0 4px 4px 0;
  margin: 0 11px 10px -1px;
}

.switches{
  width: 100%;
}
