# Build & Deploy the AROS website
# to use, you must define the following secret variables
# in the pipeline settings -:
#    SF_RSYNC_USER - sourceforge user to upload as
#    SF_RSYNC_PASSWORD - ...

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

variables:
    AROSWEBSRCBUILDDIR:  '$(AROSDOCBUILDDIR)/web' # Location builds are done in
    AROSDOCSRCBUILDDIR:  '$(AROSDOCBUILDDIR)/html' # Location builds are done in
    AROSDOCBUILDDIR:  '$(AZBUILDPATH)/documentation'
    AZBUILDPATH: '$(Build.BinariesDirectory)' # workspace path
    AROSDOCSRCDIR: '$(system.defaultWorkingDirectory)' # Path to the source code

steps:
- script: |
    sudo apt-key adv --keyserver packages.microsoft.com --recv-keys B02C46DF417A0893
    sudo apt-get update
    sudo apt-get install -y sshpass
    sudo pip install --upgrade pip
    sudo pip install Pillow
  displayName: 'Installing AROS build dependencies'

- script: |
    mkdir -p '$(AROSDOCBUILDDIR)'
    mkdir -p '$(AROSWEBSRCBUILDDIR)'
    mkdir -p '$(AROSDOCSRCBUILDDIR)'
    BUILDDATE=$(date -u +'%Y%m%d')
    echo "##vso[task.setvariable variable=arosbuilddate]$BUILDDATE"
    echo "##vso[task.setvariable variable=arosbuildid]AROS-$BUILDDATE"
    echo "##vso[task.setvariable variable=AROSPACKAGEDIR]$(AROSDOCBUILDDIR)/AROS-$BUILDDATE-docs-html"
    echo '##vso[task.prependpath]$(AROSDOCBUILDDIR)'
    echo '##vso[task.prependpath]$(AROSWEBSRCBUILDDIR)'
    echo '##vso[task.prependpath]$(AROSDOCSRCBUILDDIR)'
    echo 'Copying sources to build directories...'
    cp -R $(AROSDOCSRCDIR)/* $(AROSWEBSRCBUILDDIR)/
    cp -R $(AROSDOCSRCDIR)/* $(AROSDOCSRCBUILDDIR)/
  displayName: 'Setup workspace'

  - script: |
      echo "PATH=${PATH}"
      export ncpu=
      case '$(Agent.OS)' in
      'Linux')
        ncpu=$(nproc)
        ;;
      'Darwin')
        ncpu=$(sysctl -n hw.ncpu)
        ;;
      esac
      [[ -z "$ncpu" || $ncpu -le 0 ]] && ncpu=1
      echo "Found ${ncpu} cores"
      echo "##vso[task.setvariable variable=BUILDTHREADS;]$ncpu"
    displayName: 'Detecting number of build threads'

- script: |
    mkdir -p '$(AROSDOCBUILDDIR)/$(AROSBUILDID)-docs-source'
    cp -r $(AROSDOCSRCDIR)/* $(AROSDOCBUILDDIR)/$(AROSBUILDID)-docs-source/
    wget https://raw.githubusercontent.com/aros-development-team/AROS/master/LICENSE -P $(AROSDOCBUILDDIR)/$(AROSBUILDID)-docs-source/
    wget https://raw.githubusercontent.com/aros-development-team/AROS/master/ACKNOWLEDGEMENTS -P $(AROSDOCBUILDDIR)/$(AROSBUILDID)-docs-source/
    echo "Creating $(AROSBUILDID)-docs-source.tar.bz2"
    tar cjvf $(AROSBUILDID)-docs-source.tar.bz2 --exclude=.git $(AROSBUILDID)-docs-source
    md5sum $(AROSBUILDID)-docs-source.tar.bz2 >$(AROSBUILDID)-docs-source.tar.bz2.md5
    rm -Rf $(AROSDOCBUILDDIR)/$(AROSBUILDID)-docs-source
  workingDirectory: '$(AROSDOCBUILDDIR)'
  displayName: 'Creating documentation source package'

- script: |
    mkdir -p ~/.ssh
    mkdir -p '$(Build.BinariesDirectory)/Upload/$(arosbuilddate)/Sources'
    cp $(AROSDOCBUILDDIR)/$(AROSBUILDID)-docs-source.tar.bz2 $(Build.BinariesDirectory)/Upload/$(arosbuilddate)/Sources/
    cp $(AROSDOCBUILDDIR)/$(AROSBUILDID)-docs-source.tar.bz2.md5 $(Build.BinariesDirectory)/Upload/$(arosbuilddate)/Sources/
    ssh-keyscan -t rsa web.sourceforge.net >> ~/.ssh/known_hosts
    sshpass -p "$MAPPED_PASS" rsync -avz --rsh=ssh $(Build.BinariesDirectory)/Upload/ $MAPPED_USER,aros@web.sourceforge.net:uploads/nightly2/
    rm -Rf $(Build.BinariesDirectory)/Upload/$(arosbuilddate)/Sources
  env:
    MAPPED_USER: $(SF_RSYNC_USER)
    MAPPED_PASS: $(SF_RSYNC_PASSWORD)
  displayName: 'Deploying documentation source package'

- script: |
    echo 'Calling build www...'
    ./build www
  workingDirectory: '$(AROSWEBSRCBUILDDIR)'
  displayName: 'Building website'

- script: |
    mkdir -p ~/.ssh
    ssh-keyscan -t rsa web.sourceforge.net >> ~/.ssh/known_hosts
    if test -f "$(AROSDOCBUILDDIR)/rsync-directories.log"; then
        rm $(AROSDOCBUILDDIR)/rsync-directories.log
    fi
    if test -f "$(AROSDOCBUILDDIR)/rsync-files.log"; then
        rm $(AROSDOCBUILDDIR)/rsync-files.log
    fi
    for entry in $(AROSDOCBUILDDIR)/bin/documentation/www/*
    do
      if test -d "$entry"; then
        echo "$entry" >> $(AROSDOCBUILDDIR)/rsync-directories.log
      fi
      if test -f "$entry"; then
        echo "$entry" >> $(AROSDOCBUILDDIR)/rsync-files.log
      fi
    done
    if test -f "$(AROSDOCBUILDDIR)/rsync-directories.log"; then
      sed -i 's|$(AROSDOCBUILDDIR)/bin/documentation/www/||g' $(AROSDOCBUILDDIR)/rsync-directories.log
      cd $(AROSDOCBUILDDIR)/bin/documentation/www && cat $(AROSDOCBUILDDIR)/rsync-directories.log | parallel --will-cite -j $(BUILDTHREADS) sshpass -p "$MAPPED_PASS" rsync -rciv --rsh=ssh {} $MAPPED_USER,aros@web.sourceforge.net:/home/project-web/aros/htdocs/ttest/
    fi
    if test -f "$(AROSDOCBUILDDIR)/rsync-files.log"; then
      sed -i 's|$(AROSDOCBUILDDIR)/bin/documentation/www/||g' $(AROSDOCBUILDDIR)/rsync-files.log
      cd $(AROSDOCBUILDDIR)/bin/documentation/www && sshpass -p "$MAPPED_PASS" rsync -rciv --rsh=ssh `cat $(AROSDOCBUILDDIR)/rsync-files.log` $MAPPED_USER,aros@web.sourceforge.net:/home/project-web/aros/htdocs/ttest/
    fi
  env:
    MAPPED_USER: $(SF_RSYNC_USER)
    MAPPED_PASS: $(SF_RSYNC_PASSWORD)
  displayName: 'Deploying website'

- script: |
    echo 'Calling build html...'
    ./build html
  workingDirectory: '$(AROSDOCSRCBUILDDIR)'
  displayName: 'Building docs-html package'

- script: |
    mkdir -p '$(AROSPACKAGEDIR)'
    cp -r $(AROSDOCBUILDDIR)/bin/documentation/html/* $(AROSPACKAGEDIR)/
    wget https://raw.githubusercontent.com/aros-development-team/AROS/master/LICENSE -P $(AROSPACKAGEDIR)/
    wget https://raw.githubusercontent.com/aros-development-team/AROS/master/ACKNOWLEDGEMENTS -P $(AROSPACKAGEDIR)/
    echo "Creating $(AROSBUILDID)-docs-html.tar.bz2"
    tar cjvf $(AROSBUILDID)-docs-html.tar.bz2 $(AROSBUILDID)-docs-html
    md5sum $(AROSBUILDID)-docs-html.tar.bz2 >$(AROSBUILDID)-docs-html.tar.bz2.md5
  workingDirectory: '$(AROSDOCBUILDDIR)'
  displayName: 'Creating docs-html package'

- script: |
    mkdir -p ~/.ssh
    mkdir -p '$(Build.BinariesDirectory)/Upload/$(arosbuilddate)/Documentation'
    cp $(AROSDOCBUILDDIR)/$(AROSBUILDID)-docs-html.tar.bz2 $(Build.BinariesDirectory)/Upload/$(arosbuilddate)/Documentation/
    cp $(AROSDOCBUILDDIR)/$(AROSBUILDID)-docs-html.tar.bz2.md5 $(Build.BinariesDirectory)/Upload/$(arosbuilddate)/Documentation/
    ssh-keyscan -t rsa web.sourceforge.net >> ~/.ssh/known_hosts
    sshpass -p "$MAPPED_PASS" rsync -avz --rsh=ssh $(Build.BinariesDirectory)/Upload/ $MAPPED_USER,aros@web.sourceforge.net:uploads/nightly2/
  env:
    MAPPED_USER: $(SF_RSYNC_USER)
    MAPPED_PASS: $(SF_RSYNC_PASSWORD)
  displayName: 'Deploying docs-html package'
